.top-banner{
    background-image: url('../../images/black-background-hd-1680x1050-54028.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
  }
  .name{
    color:#C400FF;
  }
  .myPic img{
    width: 45%;
  }
  .Header h1{
    font-size: 51px;
    line-height: 62px;
    font-weight: 800;
  }
  
  .header p{
    font-size: 20px;
    line-height: 35px;
  }
  .resume-btn{
    background: linear-gradient(#a00361, #ff4f4f);
    color: White;
    border: 1px solid violet;
    font-size: 16px;
  }
  .social-link a {
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 52px;
    text-align: center;
    transition: .3s;
    font-size: 30px;
    color: white;
    margin: 0 6px;
    background: #2b2a2a;
    border-radius: 50%;
  }
  